.widthform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.dino{
    width: 95%;
}
.formlad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formaclassa{
    display: flex;
    width: 700px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 20px;
}
.form-class{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 250px;
}
@font-face{
    font-family: "MontserratSemiBold";
    src:url('./fonts/Montserrat-SemiBold.ttf');
}
@font-face{
    font-family: "MontserratRegular";
    src:url('./fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "MontserratBold";
    src:url('./fonts/Montserrat-Bold.ttf');
}
@font-face{
    font-weight: 300;
    font-family: "MontserratLight";
    src:url('./fonts/Montserrat-Light.ttf');
}
@font-face{
    font-weight: 300;
    font-family: "MontserratMedium";
    src:url('./fonts/Montserrat-Medium.ttf');
}
*
{
  margin: 0;
  padding: 0;
}
*:before,
*:after{
    box-sizing: border-box;
} 
.headerPlan{
    display: none;
}
.basecon {
    width: 100%;
    height: 1023px;
    left: 0px;
    top: 0px;
    background: 
    url("images/glavnaja (3).jpg") center;
    -webkit-background-size:cover;
    background-size: cover;
    
}

.header__inner{
    width: 1700px;
}
.anime222{
    display: none;   
}
.basecon2 {
    background-attachment: fixed;
    font-family: 'MontserratLight';
    width: 100%;
    background: 
    url("images/intro21.jpg") center 
    no-repeat;
    height: 490px;
    -webkit-background-size:cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 152px;
    height: 612px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.anime2{
    max-width: 1070px;
}
.yandexmap{
    width: 600;
    height:515px;
}
.container3 {
    font-family: 'MontserratLight';
    width: 100%;
    height: 515px;
    background-color: #F6F6F6;
}
.logo {
    width: 155.58px;
    height: 65px;
}
#rectangle {
    width: 1200px;
    height: 61px;
}
.text21{
    margin-left: 25%;
    font-size: 25px;
    color: white;
}
.header {
    font-size: 21px;
    font-family: MontserratLight;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
}

.navigation {
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52;
}
.flexblock1{
    width: 100%;
    max-width: 1183px;
    height: 350px;
    display: flex;
    align-items: flex-end;
}
.bigblockonas{
    width: 100%;
    max-width: 1500px;
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation2 {
    box-shadow: 0.4em 0.4em 5px rgba(black);
    width: 165px;
    height: 54px;
    font-size: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid;
    border-color:black;
    border-width: 1px;
    background:white;
    border-radius: 10px;
}
.detrow{
    width: 400px;
}
.nav__link5 {
    margin-right: 20px;
    font-size: 16px;
    line-height: 1;
    color:#ffff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.nav__link5:hover {  
    background-size: 100% 2px;
}
.auth_button{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__link6{   
    color: white;
    width: 67px;
    height: 31px;
    font-size: 16px;
    text-decoration: none;
    margin-left:20% ;
}
.Vhod{
    position: absolute;
   width: 78%;
    display: flex;
    justify-content: flex-end;
}
.nav_registr{
    border: radius 10px;
    display: flex;
    justify-content: flex-end;

}
.flexi{
    display: flex;
}
.navigation3{
    width: 262px;
    height: 54px;
    font-size: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid;
    border-color:#5448DE;
    border-width: 1px;
    background:#5448DE;
    border-radius: 10px;
    margin-left:20px;
}
.nav__link {
    line-height: 1;
    color:#ffff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.nav__link:hover {  
    background-size: 100% 2px;
}
.textb{
    font-weight: lighter;
    color: white;
    font-family: 'MontserratLight';
    font-size: 60px;
    
    
}
.price013{
    width: 100%;
    max-width: 1296px;
    height: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text2{
    width: 100%;
    max-width: 625px;
    color: white;
    font-family: 'MontserratMedium';
    font-size: 26px;
}
.text3{
    color: white;
    font-family: 'MontserratRegular';
    font-size: 20px;
    max-width: 731px;
    width: 100%;
}
.text22{
    font-size: 16px;
    color: white;
    margin-left: 25%;
}
#onas{
    width: 165px;
    height: 54px; 
    display: flex;
    justify-content: center;
    align-items: center;   

}
.zajavka{
    width: 220px;
    height: 53px; 
}
.nav__link2 {
    font-size: 28px;
    color:black;
    text-decoration: none;
}
.nav__link3 {
    font-size: 24px;
    color:white;
    text-decoration: none;
}
.block_vhod{
    font-size: 24px;
    width: 67px;
    height: 31px;
}
.mapandtext{
    display: flex;
    height: 515px;
}
.block_registr{
    font-size: 24px;
    width: 106px;
    height: 31px;
}
.sad{
    margin-right: 32px;
}
.space{
    width: 30px;
}
.text33{
    width: 100%;
    max-width: 800px;
    font-family: 'MontserratSemiBold';
    font-size: 19px;
    color: black; 
}
.input1{
    width: 331px;
    height: 36px;
    padding: 0 0 0 10px;
    background-color: #DDDDDD;
    border: white;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}
.input1:focus {

    outline: none;

}
.textZAJAVKI{
    margin-bottom: 20px;
}
.ForFlex{
    width:100%;
}
.obertka{
    width: 100%;
    max-width: 1183px;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
}
.textZAJAVKI2{
    margin-bottom: 20px;
}
.formoblast{
    position: absolute;
    width: 131px;
    height: 36px;
    background-color: #5448DE;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spaceforbutton {
    width: 86%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flexzajavka{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input2{
    width: 331px;
    height: 36px;
    padding: 0 0 0 10px;
    border: white;
    background-color: #DDDDDD;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}
.input2:focus {

    outline: none;

}
.input3{
    width: 331px;
    background-color: #DDDDDD;
    border: white;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    padding: 5px 2px 199px 5px;
    
}
.input3:focus {

    outline: none;

}
 p{
    font-family:'MontserratMedium';
    color:#828282;

}
.poster{
    font-family: 'MontserratRegular';
    font-size: 36px;
    color: #828282;
    margin-bottom: 30px;
}
.forma{
    width: 611px;
    height: 750px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container2{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding: 15px;
}
.container4{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link4 {
    font-size: 28px;
    margin-top: 12px;
    margin-left:35px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    background-color: #21D91D;
    border: none;
}
.nav__link4:focus {

   outline: none;

}
.brawlstars{
    display: flex;
    width: 100%;
    max-width: 494px;
    justify-content: space-between;
}
.otpravit{
    width: 131px;
    height: 36px;
    font-size: 12px;
    border:solid;
    border-color:white;
    border-width: 1px;
    background:#21D91D;
    border-radius: 10px;
    margin-left:40%;
}
.buttonius{
    font-family:"MontserratRegular";
    background: transparent;
    background-color: #5448DE;
    color:white;
    text-decoration: none;
    border: none;
}
.buttonius:focus{
    outline: none;
}
.anime{
    width: 100%;
}
.blackqadrat{
    width: 350px;
    height: 230px;
    background-color: white;
    border-radius: 20px;
}
.kartinki{
    margin-top:-20px;
    margin-left: 33px;
    padding:10px;
}
.whiteBlock{
    width: 100%;
    height: 1258px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'MontserratBold';
}
.whiteText1{
    margin-top: 130px;
    font-size: 48px;
    width: 517px;
    height: 59px;
    color: #2E2E2E;
}
.whiteText2{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 863px;
    height: 65px;
    font-size: 24px;
    color: #2E2E2E;
}
.whiteIMG{
    margin-top: 100px;
}
.footer{
    width: 100%;
    height: 219px;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer21{
    width: 100%;
    max-width: 935px;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer1{
    width: 100%;
    height: 219px;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.KONTAKT{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    font-size: 48px;
    color: white;
}
.MediumKontakt{
    width: 100%;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kontakttext1{
    font-size: 48px;
    font-family: 'MontserratBold';
}
.kontakttext2{
    margin-top: 25px;
    font-size: 24px;
    font-family: 'MontserratSemiBold';
}
.kontakttext3{
    width: 100%;
    max-width: 1298px;
    height: 151px;
    margin-top: 25px;
    font-size: 24px;
    font-family: 'MontserratSemiRegular';
    text-align: center;
}
.footerAdress{
    width: 131px;
    height: 107px;
}
.Adress{
    font-size: 13px;
    font-family:"MontserratBold";
    color: white;
}
.Adress2{
    font-size: 13px;
    font-family:"MontserratLight";
    color: white;
}
.footerNav{
    font-size: 13px;
    width: 100px;
    height: 108px;
}
.footerHref{
    font-family:"MontserratLight";
    color: white;
    text-decoration: none;
}
.footerNav2{
    width: 64px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footerImg{
    width: 100%;
    max-width: 178px;
    height: 83px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.footerImg2{
    width: 172.45px;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgFace{
    margin-top:-0.7px;
}
.imgtwit{
    margin-top:3px;
}
.lineFooter{
    width: 172px;
    height: 1px;
    background-color: white;
}
.containeronas{
    width: 100%;
    height: 973px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containeronas111{
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onascon1{
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.onascon2{
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: self-start;
}
.onascon23{
    width: 605px;
    height: 578px;
    line-height: 181%;
    font-size: 18px;
    font-family: "MontserratRegular";
}
.onascon231{
    width: 100%;
    max-width: 605px;
    height: 578px;
    font-size: 18px;
    line-height: 181%;
    font-family: "MontserratRegular";
}
.stryktura{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.containeronas2{
    width: 100%;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stryktura2{
    width: 1300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
.redBlock{
    width: 276px;
    height: 68px;
    background-color: #742D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: "MontserratRegular";
    
}
.neredBlock{
    width: 520px;
    height: 73px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nutri2{
    width: 100%;
    max-width: 520px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headertext1{
    color:white;
}
.headertext2{
    width: 478px;
    height: 53px;
    font-size: 14px;
    font-family: "MontserratRegular"
}
.ssilkaonas{
    text-decoration: none;
    color:black;
}
.containergaley1{
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containergaley2{
    width: 100%;
    height: 605px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.containergaley3{
    width: 100%;
    height: 1100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.galerytext1{
    margin-bottom: 30px;
    font-size: 48px;
    color: white;
    font-family: "MontserratLight";
}
.galerytext2{
    font-size: 26px;
    color: white;
    font-family: "MontserratMedium";
}
.imggalegy1{
    width: 100%;
    max-width: 802px;
    height: 223px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img1{
    border-radius:10px;
}
.scrollbottom{
    opacity: 0.7;
}
.price{
    width: 100%;
    height: 573px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price01{
    width: 100%;
    max-width: 1296px;
    height: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price012{

    width: 100%;
    max-width: 1296px;
    height: 462px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.textprice1{
    width: 100%;
    max-width: 613px;
    height: 183px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.textprice11{
    font-family:"MontserratBold";
}
.textprice12{
    font-family:"MontserratRegular";
}
.dljaFlexa{
    width: 100%;
    max-width: 613px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
}
.rectanglezajavka{
    width: 300px;
    height: 70px;
    background-color: #7370EE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle123{
    color: white;
    font-family: "MontserratRegular";
}
.textprice2{
    width: 100%;
    max-width: 613px;
    height: 336px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.textprice21{
    font-family:"MontserratBold";
    width: 100%;
    max-width: 613px;
}
.textprice22{
    font-family:"MontserratRegular";
    width: 100%;
    max-width: 613px;
}
.dljaFlexa2{
    width: 100%;
    max-width: 613px;
    height: 461px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dljaFlexa3{
    width: 613px;
    height: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price4{
    width: 100%;
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textprice3{
    width: 100%;
    max-width: 613px;
    height: auto;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basecon3{
    width: 100%;
    height: 442px;
    font-family: "MontserratLight";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textheadprice1{
    font-size: 48px;
}
.textheadprice2{
    font-size: 24px;
    
}
.b123321{
    width: 100%;
    max-width: 719px;
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.galeryimg3{
    width: 100%;
    max-width: 1283px;
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.galeryimg4{
    width: 100%;
    max-width: 1283px;
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.priceIMG1{
    width: 100%;
    max-width:613px;
    height:462px;
    height: auto;
}
.priceIMG2{
    width: 100%;
    max-width:613px;
    height:462px;
    height: auto;

}
.priceIMG3{
    width: 100%;
    max-width:613px;
    height:462px;
    height: auto;
}
.priceIMG4{
    width: 100%;
    max-width:613px;
    height:462px;
    height: auto;
}

@media(max-width:1580px) { 
    .text33 {
        width: 100%;
        max-width: 800px;
        font-family: 'MontserratSemiBold';
        font-size: 14px;
        color: black;
    }
    #yandexmap{
        width: 600px;

    }
    .spaсe123{
        width: 100%;
        max-width: 100px;
        height: 350px;
    }
}
@media(max-width:1315px) {
    .spaсe123{
        width: 100%;
        max-width: 100px;
        height: 350px;
    }
    .price{
        width: 100%;
        height: 952px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price01 {
        width: 100%;
        max-width: 617px;
        height: 775px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price012{
        width: 100%;
        max-width: 952px;
        height: 775px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .price4{
        width: 100%;
        height: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price013{
        width: 100%;
        max-width: 952px;
        height: 955px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .dljaFlexa3 {
        width: 100%;
        max-width: 613px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}
@media(max-width:960px) { 
.basecon {
    width: 100%;
    height: 1023px;
    left: 0px;
    top: 0px;
    background-color:white; 
    -webkit-background-size:cover;
    background-size: cover;
    
}
.brawlstars {
    display: flex;
    width: 100%;
    max-width: 375px;
    justify-content: space-between;
}
.header{
    display: none;
}
.spaсe{
    width: 100%;
    max-width: 100px;
    height: 350px;
}
.navigation{
    display: none;

}
.auth_button{
    display: none;
}
.headerPlan{
    font-size: 21px;
    font-family: MontserratLight;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.Menu{
    width: 44px;
    height: 32px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: none;
}
.MenuOpen1{
    width: 41px;
    height: 3px;
    background-color: white;
}
.MenuOpen2{
    width: 32px;
    height: 3px;
    background-color: white;
}
.MenuOpen3{
    width: 41px;
    height: 3px;
    background-color: white;
}
.dropbtn {
    background: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.dropbtn:hover, .dropbtn:focus {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 100%;
    top: 30%;
}

.containeronas{
    width: 100%;
    height: 1075px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containeronas111{
    width: 100%;
    height: 1347px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.stryktura {
    width: 100%;
    max-width: 585px;
    height: 1013px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stryktura2 {
    width: 100%;
    max-width: 585px;
    height: 1013px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;
}
.container {
    max-width: 695px;
    margin: 0 auto;
    margin-top: 152px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textb{
    font-weight: lighter;
    color: white;
    font-family: 'MontserratLight';
    font-size: 40px;
    
    
}
.text2{
    width: 100%;
    max-width: 625px;
    color: white;
    font-family: 'MontserratMedium';
    font-size: 20px;
}
.text3{
    color: white;
    font-family: 'MontserratRegular';
    font-size: 18px;
    max-width: 731px;
    width: 100%;
}
.whiteText1{
    margin-top: 130px;
    font-size: 32px;
    width: 345px;
    height: 59px;
    color: #2E2E2E;
}
.whiteText2{
    font-size: 18px;
    width: 100%;
    max-width: 749px;
}
.whiteIMG{
    margin-top: 100px;
}
.whiteIMG2{
    width: 100%;
    max-width: 666px;
    height: 503px;
}
.footer21{
    width: 100%;
    max-width: 666px;
    height: 82px;
}
.MediumKontakt{
    width: 100%;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kontakttext1{
    text-align: center;
    width: 636px;
    font-size: 36px;
}
.imgstryktura{
    width: 100%;
    max-width: 585px;
    height: auto;
}
.onascon23{
    width: 100%;
    max-width: 585px;
    height: 386px;
}
.onascon231{
    width: 100%;
    max-width: 585px;
    height: 578px;
}
.kontakttext2{
    text-align: center;
    font-size: 18px;
    width: 636px;
}
.kontakttext3{
    text-align: center;
    font-size: 18px;
    width: 100%;
    max-width: 636px;
}
.obertka{
    width: 100%;
    max-width: 636px;
    height: 425px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.onascon231{
    width: 100%;
    max-width: 605px;
    height: 578px;
    font-size: 18px;
    font-family: "MontserratRegular";
}
.anime{
    width: 315px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mapandtext{
    display: flex;
    height: 315px;
}
.container3{
    height: 315px;
}
.yandexmap{
    width: 453px;
    height:315px;
}
.anime222{
    display: block;
}
.anime2{
    display: none;
}
.text33{
    height: 200px;
    font-size: 10px;
    width: 260px;
    
}
.sad{
    margin-right: 32px;
    width: 50px;
    height: 46px;
}
.bad{
    width: 50px;
    height: 46px;
}
.kartinki{
    margin-left: -14px;
}
.price{
    width: 100%;
    height: 952px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price01 {
    width: 100%;
    max-width: 617px;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price012{
    width: 100%;
    max-width: 952px;
    height: 775px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.price4{
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price013{
    width: 100%;
    max-width: 952px;
    height: 955px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.dljaFlexa3 {
    width: 100%;
    max-width: 613px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img1{
    border-radius:10px;
    width: 100%;
    max-width: 175px;
    height: 169px;
}
.imggalegy1{
    width: 100%;
    max-width: 621px;
    height: 173px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.galeryimg4{
    width: 100%;
    max-width: 1283px;
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.galeryimg3{
    width: 100%;
    max-width: 1283px;
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
}
@media(max-width:767px) {
    .whiteIMG2{
        width: 300px;
        height: 237px;
    }
    .footer{
        height: 411px;
    }
    .footer1{
        height: 411px;
    }
    .textb{
        font-weight: lighter;
        color: white;
        font-family: 'MontserratLight';
        font-size: 35px;
    }
    .text2{
        width: 100%;
        max-width: 625px;
        color: white;
        font-family: 'MontserratMedium';
        font-size: 18px;
        
    }
    .text3 {
        color: white;
        font-family: 'MontserratRegular';
        font-size: 15px;
        width: 100%;
        max-width: 731px;
    }
    .container {
        max-width: 695px;
        margin: 0 auto;
        margin-top: 152px;
        height: 713px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #onas {
        width: 102px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation2 {
        box-shadow: 0.4em 0.4em 5px rgba(black);
        max-width: 102px;
        height: 33px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-color: black;
        border-width: 1px;
        background: white;
        border-radius: 10px;
    }
    .nav__link2 {
        font-size: 18px;
        color: black;
        text-decoration: none;
        font-family: "MontserratRegular";
    }  
    .navigation3 {
        width: 177px;
        height: 33px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-color: #5448DE;
        border-width: 1px;
        background: #5448DE;
        border-radius: 10px;
        margin-left: 20px;
        font-family: "MontserratRegular";
    }
    .nav__link3 {
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-family: "MontserratRegular";
    }
    .whiteText1 {
        margin-top: 130px;
        font-size: 24px;
        width: 100%;
        max-width: 345px;
        height: 59px;
        color: #2E2E2E;
        text-align: center;
    }
    .whiteBlock {
        width: 100%;
        height: 720px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'MontserratBold';
    }
    .footer21 {
        width: 100%;
        max-width: 935px;
        height: 263px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .mapandtext {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .container3 {
        height: 600px;
    }
    .text33 {
        height: 200px;
        font-size: 10px;
        max-width: 522px;
        margin-left: 5px;
        width: 100%;
    }
    .anime {
        width: 100%;
        height: 315px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .kontakttext2 {
        text-align: center;
        font-size: 20px;
        max-width: 636px;
        width: 100%;
    }
    .kontakttext1 {
        text-align: center;
        max-width: 636px;
        font-size: 24px;
        width: 100%;
    }
    .kontakttext3 {
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: 500px;
        max-width: 636px;
    }
    .KONTAKT {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 250px;
        font-size: 36px;
        color: white;
    }
    .footerNav {
        font-size: 13px;
        width: 100%;
        max-width: 81px;
        height: 108px;
    }
    .price013 {
        width: 100%;
        max-width: 952px;
        height: 1133px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .dljaFlexa3 {
        width: 98%;
        max-width: 613px;
        height: 781px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5px;
    }
    .textheadprice2 {
        font-size: 15px;
        text-align: center;
    }
    .textheadprice1 {
        font-size: 18px;
    }
    .price4 {
        width: 100%;
        height: 1265px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rectanglezajavka {
        width: 175px;
        height: 46px;
        background-color: #7370EE;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .price {
        width: 100%;
        height: 670px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price01 {
        width: 100%;
        max-width: 617px;
        height: 475px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price012 {
        width: 100%;
        max-width: 952px;
        height: 549px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .textprice1 {
        width: 100%;
        max-width: 613px;
        height: 183px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .textprice2{
        width: 100%;
        max-width: 613px;
        height: 336px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .textprice3{
        width: 100%;
        max-width: 613px;
        height: auto;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .price013 {
        width: 100%;
        max-width: 952px;
        height: 590px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .price4 {
        width: 100%;
        height: 662px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redBlock {
        width: 116px;
        height: 29px;
        background-color: #742D2D;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: "MontserratRegular";
    }
    .neredBlock {
        width: 219px;
        height: 51px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headertext2 {
        width: 478px;
        height: 53px;
        font-size: 10px;
        font-family: "MontserratRegular";
    }
    .nutri2 {
        width: 100%;
        max-width: 219px;
        height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bigblockonas {
        width: 100%;
        max-width: 1500px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .basecon2 {
        background-attachment: fixed;
        font-family: 'MontserratLight';
        width: 100%;
        background: url(images/intro21.jpg) center no-repeat;
        height: 350px;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .spaсe123 {
        width: 100%;
        max-width: 40px;
        height: 350px;
    }
    .priceIMG1 {
        width: 100%;
        max-width: 372px;
        height: auto;
    }
    .priceIMG2 {
        width: 100%;
        max-width: 372px;
        height: auto;
    }
    .priceIMG3 {
        width: 100%;
        max-width: 372px;
        height: auto;
    }
    .priceIMG4 {
        width: 100%;
        max-width: 372px;
        height: auto;
    }
    .price01 {
        width: 100%;
        max-width: 617px;
        height: 475px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .onascon231 {
        width: 100%;
        max-width: 605px;
        height: 653px;
        font-size: 15px;
        font-family: "MontserratRegular";
    }
    .onascon23 {
        width: 605px;
        height: 578px;
        line-height: 181%;
        font-size: 15px;
        font-family: "MontserratRegular";
    }
    .onascon1 {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .onascon2 {
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: center;
        align-items: self-start;
    }
    .containeronas {
        width: 100%;
        height: 1152px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stryktura {
        width: 100%;
        max-width: 585px;
        height: 1066px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .imgstryktura {
        width: 100%;
        max-width: 449px;
        height: auto;
    }
    .onascon23 {
        width: 605px;
        height: 240px;
        line-height: 181%;
        font-size: 15px;
        font-family: "MontserratRegular";
    }
    .stryktura {
        width: 95%;
        max-width: 585px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .containeronas {
        width: 100%;
        height: 100%;
        min-height: 993px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .onascon2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: self-start;
    }
    .containeronas111 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .stryktura2 {
        width: 95%;
        max-width: 585px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .onascon23 {
        width: 605px;
        height: auto;
        line-height: 181%;
        font-size: 15px;
        font-family: "MontserratRegular";
    }
    .onascon231 {
        width: 100%;
        max-width: 605px;
        height: auto;
        font-size: 15px;
        font-family: "MontserratRegular";
    }
    .forma {
        max-width: 611px;
        width: 95%;
        height: 636px;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .poster {
        font-family: 'MontserratRegular';
        font-size: 24px;
        color: #828282;
        margin-bottom: 30px;
    }
    .textZAJAVKI {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .textZAJAVKI2 {
        margin-bottom: 20px;
        font-size: 14px;
    }
    p {
        font-family: 'MontserratMedium';
        color: #828282;
        font-size: 14px;
    }
    .formforflex {
        width: 90%;
        max-width: 367px;
    }
    .input1 {
        max-width: 331px;
        width: 96%;
        height: 36px;
        padding: 0 0 0 10px;
        background-color: #DDDDDD;
        border: white;
        border-radius: 10px;
        outline: none;
        font-size: 18px;
    }
    .input2 {
        width: 96%;
        max-width: 331px;
        height: 36px;
        padding: 0 0 0 10px;
        border: white;
        background-color: #DDDDDD;
        border-radius: 10px;
        outline: none;
        font-size: 18px;
    }
    .containergaley1 {
        width: 100%;
        height: 306px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .containergaley2 {
        width: 100%;
        height: 664px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .imggalegy1 {
        width: 100%;
        max-width: 621px;
        height: 556px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .input3 {
        width: 96%;
        max-width: 331px;
        background-color: #DDDDDD;
        border: white;
        border-radius: 10px;
        outline: none;
        font-size: 18px;
        padding: 5px 2px 199px 5px;
    }
    .galerytext1 {
        margin-bottom: 30px;
        font-size: 40px;
        color: white;
        font-family: "MontserratLight";
    }
    .galerytext2 {
        font-size: 16px;
        color: white;
        font-family: "MontserratMedium";
    }
    @media(max-width:630px) { 
        .containeronas{
            min-height: 1040px;
        }
    }
    @media(max-width:570px) { 
        .galeryimg3 {
            width: 100%;
            max-width: 1283px;
            height: 582px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        .galeryimg4 {
            width: 100%;
            max-width: 1283px;
            height: 582px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
    @media(max-width:490px) { 
        .containeronas{
            min-height: 1220px;
        }
    }
    @media(max-width:380px) { 
        .containeronas{
            min-height: 1300px;
        }
    }
    @media(max-width:330px) { 
        .containeronas{
            min-height: 1400px;
        }
    }
}


